<%- include("header") -%>
<div class="submitcard">
        <h1 class="home-title">
        Thanks for being awesome! 🔥🔥
    </h1>
    <p class="home-text">
      We have received your message and would like to thank you for writing to us. 
    <br>
    Talk to you soon,
    </p>
    <p class="home-text">
    Pooja mishra
    </p>
    <form action="/submit" method="post">
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-arrow-left"></i> Go Back
        </button>
    </form>

    
</div>
<%- include("footer") -%>